{{ define "main" }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
    }
    
    .left {
      width: 60%;
    }
    
    .right {
      width: 40%;
    }

    body .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
   
    :root {
        --gridGap: 5px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gridGap);
        justify-items: center;
        width: calc((2 * var(--imageWidth)) + (2 * var(--gridGap)));
        margin: 0 auto;
    }   
    </style>
<div class="container-fluid">
    <div class="row">
        <div class="column left">
            <h2></h2>
            <div class="gallery">
                  <img src="../images/ski4.JPG" />
                  <img src="../images/bike2.jpeg" />
                  <img src="../images/ski.png" />
                  <img src="../images/cirque1.jpg" />
            </div>
              </div>
        </div>
        <div class="column right">
          <h2>Hi, I'm Lily!</h2>
<p>I’m a Biostatistics PhD candidate at <a href="https://publichealth.jhu.edu/departments/biostatistics">Johns Hopkins</a>, where I work with 
  <a href="https://publichealth.jhu.edu/faculty/1442/ciprian-m-crainiceanu">Ciprian Crainiceanu</a> and the <a href="https://www.smart-stats.org/">Wearable and Implantable Technology (WIT)</a> research group. 
My research interests lie at the intersection of statistics, physical activity research,
high density and wearable device data, and human performance + sports science.</p>
<p>I was born and raised in Orono, Maine. I got my undergraduate degree in Statistics at <a href="https://www.harvard.edu/">Harvard</a> and my Master’s degree in Biostatistics at the <a href="https://www.hsph.harvard.edu/">Harvard School of Public Health</a>. At Harvard, I competed on and captained the <a href="https://gocrimson.com/sports/alpine-skiing/roster/lily-koffman/8198">Nordic ski team</a>.</p>
<p>Previously, I worked for <a href="https://usskiandsnowboard.org/">US Ski and Snowboard</a> as a high
performance intern and <a href="https://www.womeninsportstech.org/fellowship-alumni">Women in Sports Technology (WiST) Fellow.</a></p>
In my free time, I enjoy running, skiing, cycling, camping, and baking sourdough.
</p>
        </div>
      </div>
</div>


{{ end }}

