{{ define "main" }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#pub {padding: 5px; border-width: 2px; border-style: none; background-color: #ffffff; font-size: 1.2em; margin-top: 20px; margin-bottom: 20px;}
#pub a{font-weight: bold;}
#pub name{color:#2a2727;}
#pub journal{font-style: italic; color: #ff9248;}
#pub authors{color: #000000;}
</style>

<div class="container-fluid">
  <div class="row">
    <h2>2023</h2>
    <div id="pub" class="pub wf">
      <a href="https://apta.confex.com/apta/csm2023/meetingapp.cgi/Paper/37329"><name> Identifying Unique Subgroups of Individuals Post-Stroke Using Heart Rate and Steps to Characterize Physical Activity</name><br>
      </a>
      <authors> <b>Lily Koffman</b>, Ciprian Crainiceanu, Ryan Roemmich, Margaret French</authors><br>
       <journal> APTA-CSM, San Diego, CA </journal>
      </div>
   
      <div id="pub" class="pub fingerprinting">
        <a href=https://www.atsjournals.org/doi/abs/10.1164/ajrccm-conference.2023.207.1_MeetingAbstracts.A1140><name>Classifying Physical Conditioning Using Remote Monitoring in Chronic Obstructive Pulmonary Disease</name><br>
          <authors> A. Balasubramanian, M. French, <b>L. Koffman</b>, J. Li,
            S. Raju,
            A. Fawzy,
           A.C. Singh,
           N. Putcha,
            P. Searson,
            R.A.A. Wise,
            N.N. Hansel,
            R. Roemmich</authors><br>
            <journal> American Thoracic Society International Conference, Washington D.C. </journal>
           </div>

</div>

{{ end }}

