{{ define "main" }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H7JFP7FLKW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H7JFP7FLKW');
</script>
<div class="vignette-header">
    <h1>Posters</h1>
</div>
<div class="poster-grid">

  {{/* --- Poster Box 1 --- */}}
  <div class="poster-box">
    {{/* This link now points to the PDF and opens in a new tab */}}
    <a href="/images/Fingerprinting.pdf" target="_blank">
      <img src="/images/fingerprinting.png" class="poster-thumb" alt="Poster thumbnail for ENAR 2025">
      <div class="poster-overlay">
        <div class="overlay-text">
          <span class="conference-name">ENAR 2025</span>
          <span class="conference-location">New Orleans, LA</span>
          <span class="enlarge-prompt">
            <i data-feather="file-text"></i> View PDF
          </span>
        </div>
      </div>
    </a>
  </div>

  <div class="poster-box">
    <a href="/images/sourdough.pdf" target="_blank">
      <img src="/images/sourdough.png" class="poster-thumb" alt="Sourdough thumbnail">
      <div class="poster-overlay">
        <div class="overlay-text">
          <span class="conference-name">JHU Biostat Retreat 2024</span>
          <span class="conference-location">Philadelphia, PA</span>
          <span class="enlarge-prompt">
            <i data-feather="file-text"></i> View PDF
          </span>
        </div>
      </div>
    </a>
  </div>

  {{/* --- Poster Box 2 (Example) --- */}}
  <div class="poster-box">
    <a href="/images/fitbit_poster.pdf" target="_blank">
      <img src="/images/fitbit_poster.png" class="poster-thumb" alt="Poster thumbnail for APTA-CSM 2023">
      <div class="poster-overlay">
        <div class="overlay-text">
          <span class="conference-name">APTA-CSM 2023</span>
          <span class="conference-location">San Diego, CA</span>
          <span class="enlarge-prompt">
            <i data-feather="file-text"></i> View PDF
          </span>
        </div>
      </div>
    </a>
  </div>

</div>

{{ end }}