{{ define "main" }}
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
        .entry {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .entry img {
            width: 50px;
            height: 50px;
            margin-left: 15px;
        }
        .entry a {
            text-decoration: none;
        }
        .entry a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <div class="entry">
        <div>
            <h3><a href="https://doi.org/10.13026/ah0j-3z47">PhysioNet Repository</a></h3>
            <p>Open-source, Minute-level Step Counts from NHANES</p>
        </div>
        <img src="https://via.placeholder.com/50" alt="Photo 1">
    </div>

</body>
</html>
