{{ define "main" }}
<div class="talks-container">
  <div class="vignette-header">
    <h1>Conference & Workshop Talks</h1>
    <p>A chronological record of my speaking engagements and presentations</p>
  </div>

  <div class="timeline">
    
    {{/* --- Timeline Item --- */}}
    <div class="timeline-item">
      <div class="timeline-content">
        <span class="timeline-date">April 15, 2025</span>
        <h3>Walking Fingerprinting Using Functional Data Analysis</h3>
        <p class="timeline-event">Functional Data Analysis Working Group, Emory University</p>
        <div class="timeline-links">
          <a href="https://lilykoff.github.io/emory_fnl_data/" target="_blank"><i data-feather="monitor"></i> Slides</a>
        </div>
      </div>
    </div>

    {{/* --- Timeline Item --- */}}
    <div class="timeline-item">
      <div class="timeline-content">
        <span class="timeline-date">April 10, 2025</span>
        <h3>Walking Fingerprinting in a Large Epidemiological Study</h3>
        <p class="timeline-event">Building Future Faculty Program, North Carolina State University</p>
        <div class="timeline-links">
          <a href="https://lilykoff.github.io/nhanes_fingerprinting/" target="_blank"><i data-feather="monitor"></i> Slides</a>
        </div>
      </div>
    </div>

    {{/* --- Timeline Item --- */}}
    <div class="timeline-item">
      <div class="timeline-content">
        <span class="timeline-date">March 25, 2025</span>
        <h3>Statistical Methods for Female Health</h3>
        <p class="timeline-event">ENAR Spring Meeting (Session Chair)</p>
        <div class="timeline-links">
          <a href="https://www.enar.org/meetings/spring2025/program/Invited_Preliminary_Program.cfm" target="_blank"><i data-feather="users"></i> Session Info</a>
        </div>
      </div>
    </div>
    
    {{/* --- Add other talks here following the same structure --- */}}

  </div>
</div>
{{ end }}