{{ define "main" }}
<div class="vignette-container">
  <div class="vignette-header">
    <h1>Vignettes</h1>
    <p>Step-by-step guides for my research projects</p>
  </div>

  <div class="vignette-list">
    
    {{/* --- Vignette Item 1 --- */}}
    <article class="vignette-item">
      <div class="vignette-content">
        <h2><a href="https://lilykoff.github.io/nhanes_steps_mortality/vignettes/NHANES_Steps_Mortality_Vignette.html" target="_blank">Steps and Mortality in NHANES</a></h2>
        <p>Accompanies the manuscript comparing step counting algorithms for high-resolution wrist accelerometry data in NHANES 2011-2014.</p>
        <a href="https://pubmed.ncbi.nlm.nih.gov/39589008/" class="vignette-cta" target="_blank">Read the Paper</a>
      </div>
    </article>

    {{/* --- Vignette Item 2 --- */}}
    <article class="vignette-item">
      <div class="vignette-content">
        <h2><a href="https://lilykoff.github.io/nhanes_steps_mortality/vignettes/Physionet_Download.html" target="_blank">Downloading NHANES Minute-Level Derivatives</a></h2>
        <p>A guide to downloading minute-level steps and other data derived from our research.</p>
        <a href="https://physionet.org/content/minute-level-step-count-nhanes/1.0.0/" class="vignette-cta" target="_blank">View on PhysioNet</a>
      </div>
    </article>

  </div>
</div>
{{ end }}