{{ define "main" }}
<div class="vignette-header">
    <h1 class="lab-logo">
    {{ readFile "static/images/lab/hd3-logo-adaptive.svg" | safeHTML }}
    </h1>
</div>

<section class="lab-section">
    <div class="lab-about">
        <h2>About</h2>
        <p>
            The <strong>H</strong>igh-<strong>D</strong>imensional, <strong>H</strong>igh-<strong>D</strong>ensity, and <strong>H</strong>igh-<strong>D</strong>efinition (<strong>HD³</strong>) Data Lab develops statistical methods for complex data. Data sources include wearable sensors (e.g., accelerometers, continuous glucose monitors, smartphones) and clinical monitoring systems (e.g., arterial lines, pulse oximeters, electrocardiograms). Applications span public health and medicine, including characterization of population-level physical activity, perioperative individualized risk prediction, and gait assessment.
        </p>
    </div>

    <div class="lab-recruiting">
        <h2>Join the Lab</h2>
        <p>
            We welcome collaborative individuals who want to work with big, messy, real-world datasets and apply their solutions to problems that matter.
        </p>
        <p>
            If you're interested in joining the HD³ Lab, please reach out to <a href="mailto:koffman@virginia.edu">Lily Koffman</a>.
        </p>
    </div>
</section>
{{ end }}
